# Secret files in subfolders reference this main secrets file.

wifi_ssid: YOUR_SSID_HERE
wifi_password: YOUR_WIFI_PASSWORD_HERE
fallback_password: YOUR_FALLBACK_PASSWORD
api_password: YOUR_API_PASSWORD
ota_password: YOU_OTA_PASSWORD
